* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 0px;
}

.container-validation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-validation button {
  margin: 10px 0px; 
}